{{<layouts/1-column}}

	{{$h1}}Tell DVLA about a change in address{{/h1}}

	{{$column-1}} 

        <section class="intro"><div class="get-started-intro">
            <p>Change the address on your driving licence or v5c registration.</p>

            <div class="application-notice info-notice">
            <p>You can still drive while waiting for your new licence or v5c registration document to arrive.</p>
            </div>

            </div>
                <p class="visuallyhidden"><a href="#what-you-need-to-know">What you need to know</a></p>
               <p id="get-started" class="get-started group">
                  <a href="choose" rel="external" class="button">Start now</a>
                </p>      
    </section>


      <section class="more"><div id="before-you-start">
        <h2 class="heading-24">Before you start</h2>
    
        <p>You’ll need to:</p>

        <ul class="list-bullet">
            <li>have your driving licence number if you are changing your address on your driving licence</li>
            <li>have your v5c reference number if you are changing the address on your v5c registration</a>
            </li>
        </ul>
        </div>
        </div>
	{{/column-1}}

{{/layouts/1-column}}
